p Hi,
p You now have access to #{website} and can log in with the following link. The link will remain valid for 30 days, after that period you will need to request a new link.
p
  a(href=website +'?login=' + token) Log in to #{website}
p Libraries Hacked